.Exercise-site{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.Heading{
    text-align: left;
    color: blueviolet;
    font-size: larger;
    font-weight: 600;
    padding-left:50px;
    
}
.sec-heading{
    text-align: left;
    padding-left:50px;
    padding-bottom:20px ;
    font-weight: 600;
}
.logo{
    height: 30px;
    border-radius: 50%;
    padding-right: 10px;
  
}
.exercise-part{
    padding:10px;
}
.Cart{
    background: #e7e5e5;
}